/* This file is for your main application css. */

.goBack {
  display: block;
  margin-bottom: 3rem;
}

.goBack .Polaris-Icon {
  top: 5px;
  position: relative;
  fill: #007ace;
  size: 0.8rem;
  display: inline-block;

}

.Polaris-Spinner {
  fill: #fff;
}
.Polaris-ProgressBar__Progress {
  width: 92%
}

.Polaris-Banner {
  margin-bottom: 1.5rem;
}

.Polaris-Banner > div:nth-child(2) {
  width: 100%;
}

#info h1 {
  font-size: 3rem!important;
  margin: 2rem 0!important;
}

#info p {
  margin-bottom: 1.5rem!important;
}

#example-image {
  width: 93%;
  border: 1px solid #ebebeb;
  margin: 4rem 0;
}

.welcome-screenshot {
  width: 90%;
  overflow: hidden;
  max-height: 350px;
  margin: 0 auto;
  margin-top: 2rem;
}

.welcome-screenshot img {
  width: 100%;
}

.footer {
  color: #474b51;
  width: 75%;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.2rem;
}
.footer a {
  color: #0076ed;
}
#menu-tabs {
  margin-bottom: 1.5rem!important;
}
.small-label-info {
  color: #a5a5a5;
}
.center {
  text-align: center;
}
.csv-info {
  margin-top: 1.0rem;
  margin-bottom: 1.2rem;
}
#example-template-btn {
  margin-top: 0.8rem;
}

#example-template-btn .Polaris-Button__Content {
  font-size: 1.3rem!important;
}
