<div id="app"/>
<script type="text/javascript">
  window.globals = {
    shop: '<%= @shop && @shop.name %>',
    token: '<%= @shop && @shop.token %>',
    apiClientId: '<%= @api_client_id %>',
    priceRuleTitle: '<%= @title %>',
    priceRuleId: '<%= @id %>',
  };
</script>
<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
